//
// Overrides
//

.cms,
.sort-by label,
.modified,
.repo {
	color: $text-muted;

	.dark-theme & {
		color: darken($white, 20%);
	}
}

.text-color {
	.dark-theme & {
		color: darken($white, 10%);
	}
}

h4 a,
nav a,
a:link,
a:visited,
a:link.name,
a:visited.name {
	background: none !important;
	color: $link-color;

	.dark-theme & {
		color: darken($white, 10%);
	}

	&:active,
	&:focus,
	&:hover {
		color: darken($link-color, 25%);

		.dark-theme & {
			color: $white;
		}
	}
}

.navbar {
	background-color: $bg-dark;

	.dark-theme & {
		background-color: $black;
	}
}

.colorpicker,
.wrapper {
	background-color: $bg-light;
	border-color: darken($bg-light, 10%) !important;

	.dark-theme & {
		background-color: $bg-dark;
		border-color: lighten($bg-dark, 10%) !important;
		color: darken($white, 20%);
	}
}

footer {
	background: $bg-dark;

	.dark-theme & {
		background-color: $black;
	}

	.container {
		color: $white;

		.dark-theme & {
			color: $bg-light;
		}
	}
}

.form-control,
.list-group-item,
.jumbotron,
.modal-content,
.modal-header,
.modal-footer,
.sort,
#table_add_cms th,
#table_add_cms td {
	background-color: $white;
	border-color: $bg-light;

	.dark-theme & {
		background-color: lighten($bg-dark, 10%);
		border-color: $bg-dark;
		color: darken($white, 20%);
	}
}

.colorpicker,
#table_add_cms {
	.dark-theme & {
		box-shadow: 1px 2px 3px $black;
	}
}

#addNewCMS,
.btn-primary {
	background-color: $primary;
	border-color: $primary;
	color: $white;

	.dark-theme & {
		background-color: $bg-dark;
		border-color: $bg-dark;
	}

	&:active,
	&:focus,
	&:hover {
		background-color: darken($primary, 20%);
		border-color: darken($primary, 20%);

		.dark-theme & {
			background-color: lighten($bg-dark, 5%);
			border-color: lighten($bg-dark, 5%);
		}
	}
}
