a {
	text-decoration: none !important;
	cursor: pointer;
}
h4 a,
nav a {
	background: none !important;
	color: #6cb3ff !important;
}
h4 a:hover,
nav a:hover {
	color: #007bff !important;
}

#accordion {
	margin: 30px 0 60px;
}
.btn.sort.asc,
.btn.sort.desc {
	background-color: #ddd;
}
.btn.sort:after {
	display: inline-block;
	margin-left: 1em;
	position: relative;
}
.btn.sort.asc:after {
	content: "▼";
}
.btn.sort.desc:after {
	content: "▲";
}

/*Localhost List UI Improvements*/
#localhost-list li:hover .cms:before {
	opacity: 1;
}
#localhost-list li:hover .cms,
#localhost-list li:hover .modified {
	color: #ababab;
}
.sort-by {
	clear: both;
	display: block;
	float: right;
	padding: 0 8px;
	text-align: right;
	width: 100%;
}
.sort-group {
	margin-bottom: 15px;
}

/*CMS Indicator Icons*/
.cms,
.sort-by label {
	color: #ced4da;
	cursor: pointer;
	font-size: .75em;
	transition: color .1s ease;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.cms:before {
	background-size: cover;
	content: '';
	display: inline-block;
	margin: 0 15px;
	opacity: .9;
	height: 30px;
	width: 30px;
	vertical-align: middle;
	transition: opacity .1s ease;
}
.cms.none:before {
	background-image: url(img/none.png);
}
.cms.todaymade:before {
	background-image: url(img/todaymade.png);
}
.cms.tao:before {
	background-image: url(img/tao.png);
}
.cms.joomla:before {
	background-image: url(img/joomla.png);
}
.cms.wp:before {
	background-image: url(img/wp.png);
}
.cms.d7:before,
.cms.d8:before {
	background-image: url(img/drupal.png);
}
.cms.magento:before {
	background-image: url(img/magento.png);
}
.cms.prestashop:before {
	background-image: url(img/prestashop.png);
}
.cms.typo3:before {
	background-image: url(img/typo3.png);
}

.cms:after {
	vertical-align: middle;
}
.cms.none:after {
	content: "No CMS detected";
}
.cms.todaymade:after {
	content: "TodayMade";
}
.cms.tao:after {
	content: "TaoCMS";
}
.cms.joomla:after {
	content: "Joomla";
}
.cms.wp:after {
	content: "Wordpress";
}
.cms.d7:after {
	content: "Drupal 7";
}
.cms.d8:after {
	content: "Drupal 8";
}
.cms.magento:after {
	content: "Magento";
}
.cms.prestashop:after {
	content: "PrestaShop";
}
.cms.typo3:after {
	content: "Typo3";
}

/*Repo Indicator Icons*/
.repo {
	color: #ced4da;
	cursor: pointer;
	font-size: .75em;
	transition: color .1s ease;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.repo:before {
	background-size: cover;
	content: '';
	display: inline-block;
	margin: 0 15px;
	opacity: .9;
	height: 30px;
	width: 30px;
	vertical-align: middle;
	transition: opacity .1s ease;
}
.repo.git:before {
	background-image: url(img/github.png);
}

.jumbotron {
	background: #fff;
	border: 1px solid rgba(0,0,0,.125);
}
#accordion,
.jumbotron,
.input-group.mb-3,
.list.list-group {
	border-radius: .25rem !important;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.jumbotron h1 {
	font-size: 2.5rem;
}

.modified {
	color: #ced4da;
	transition: color .1s ease;
}
.wrapper {
	background-color: #e9ecef;
	margin-bottom: 100vh;
	padding-bottom: 30px;
	padding-top: 60px;
	z-index: 1031;
}
footer {
	background: #e9ecef;
	z-index: 1019 !important;
}
footer .container {
	color: #fff;
	height: 100vh;
}

/* Follow me section */
form.donate-form,
.follow-button {
	display: inline-block;
}

.donate-form button,
.follow-button a {
	display: inline-block;
	color: #000 !important;
	cursor: pointer;
	background: #fdfdfd; 
	text-decoration: none !important;
	font-size: 12px !important;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	line-height: inherit;
	font-weight: bold;
	border-radius: 3px;
}

.follow-button.github #icon-bg {
	background: linear-gradient(#7b7b7b, #000);
}
.follow-button.linkedin #icon-bg {
	background: linear-gradient(#81bedb, #007bb6);
}
.follow-button.donate #icon-bg {
	background: linear-gradient(#d89c5a, #724801);
}

#icon-bg {
	display: inline-block;
	background: #666;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	color: #fff;
	padding: 0px 5px 3px;
	font-size: 16px;
}

#icon-label-bg {
	display: inline-block;
	padding: 3px 5px 3px 5px;
}