#accordion {
	margin: 30px 0 60px;
}
.btn.sort.asc,
.btn.sort.desc {
	background-color: #ddd;
}
.btn.sort:after {
	display: inline-block;
	margin-left: 1em;
	position: relative;
}
.btn.sort.asc:after {
	content: "▼";
}
.btn.sort.desc:after {
	content: "▲";
}

/*Localhost List UI Improvements*/
#localhost-list li:hover .cms:before {
	opacity: 1;
}
#localhost-list li:hover .cms,
#localhost-list li:hover .modified {
	color: #ababab;
}
.sort-by {
	clear: both;
	display: block;
	float: right;
	padding: 0 8px;
	text-align: right;
	width: 100%;
}
.sort-group {
	margin-bottom: 15px;
}

/*CMS Indicator Icons*/
.cms,
.sort-by label {
	color: #ced4da;
	cursor: pointer;
	font-size: .75em;
	transition: color .1s ease;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.cms:before {
	background-size: cover;
	content: '';
	display: inline-block;
	margin: 0 15px;
	opacity: .9;
	height: 30px;
	width: 30px;
	vertical-align: middle;
	transition: opacity .1s ease;
}
.cms.none:before {
	background-image: url(img/none.png);
}
.cms.todaymade:before {
	background-image: url(img/todaymade.png);
}
.cms.tao:before {
	background-image: url(img/tao.png);
}
.cms.joomla:before {
	background-image: url(img/joomla.png);
}
.cms.wp:before {
	background-image: url(img/wp.png);
}
.cms.d7:before,
.cms.d8:before {
	background-image: url(img/drupal.png);
}

.jumbotron {
	background: #fff;
	border: 1px solid rgba(0,0,0,.125);
}
#accordion,
.jumbotron,
.input-group.mb-3,
.list.list-group {
	border-radius: .25rem !important;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.jumbotron h1 {
	font-size: 2.5rem;
}

.modified {
	color: #ced4da;
	transition: color .1s ease;
}
.wrapper {
	background-color: #e9ecef;
	margin-bottom: 100vh;
	padding-bottom: 30px;
	padding-top: 60px;
	z-index: 1031;
}
footer {
	background: #e9ecef;
	z-index: 1019 !important;
}
footer .container {
	color: #fff;
	height: 100vh;
}
